<p class="text-3xl flex justify-center items-center">
  Question {{ currentQuestionIndex + 1 }}
  <span class="text-sm block ml-2">/ {{ questions.length }}</span>
</p>
<!--TODO: Add logic for images-->
<img/>
<p class="text-2xl text-gray-600 text-center py-10 w-[540px]">{{ questions[currentQuestionIndex].questionContent }}</p>
<span class="mb-1 block text-xs text-gray-500">{{ timeLeft }}s left...</span>
<mat-progress-bar
  [value]="timeLeft / (isShowingAnswer ? timeToCheckAnswer : timeToAnswerQuestion) * 100"></mat-progress-bar>
<div class="grid-cols-2 grid gap-2 mt-3">
  <app-answer-btn (choose)="handleQuestionAnswer(1)" [answerId]="1"
                  [answerContent]="currentQuestion.answerOne"
                  [isShowingAnswer]="isShowingAnswer"
                  [isWrong]="correctAnswerId!=currentAnswerId && currentAnswerId == 1"
                  [isCorrect]="correctAnswerId==1 "></app-answer-btn>
  <app-answer-btn (choose)="handleQuestionAnswer(2)" [answerId]="2"
                  [answerContent]="currentQuestion.answerTwo"
                  [isShowingAnswer]="isShowingAnswer"
                  [isWrong]="correctAnswerId!=currentAnswerId && currentAnswerId == 2"
                  [isCorrect]="correctAnswerId==2 "></app-answer-btn>
  <app-answer-btn (choose)="handleQuestionAnswer(3)" [answerId]="3"
                  [answerContent]="currentQuestion.answerThree"
                  [isShowingAnswer]="isShowingAnswer"
                  [isWrong]="correctAnswerId!=currentAnswerId && currentAnswerId == 3"
                  [isCorrect]="correctAnswerId==3 "></app-answer-btn>
  <app-answer-btn (choose)="handleQuestionAnswer(4)" [answerId]="4"
                  [answerContent]="currentQuestion.answerFour"
                  [isShowingAnswer]="isShowingAnswer"
                  [isWrong]="correctAnswerId!=currentAnswerId && currentAnswerId == 4"
                  [isCorrect]="correctAnswerId==4 "></app-answer-btn>
</div>
