/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "assets/styles/styles-material";

$m3-dark-theme: matx.define-theme((
  color: (
    theme-type: dark,
    primary: matx.$m3-orange-palette,
    tertiary: matx.$m3-magenta-palette,
  ),
));

html {
  @include mat.all-component-themes($m3-dark-theme);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 0.75em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

.bg-gray {
  background: #303030;
}
