<app-input [formControl]="registerForm.controls.userLogin" description="Login"></app-input>
<app-input [formControl]="registerForm.controls.userPassword" [isPasswordType]="true"
           description="Password"></app-input>
<app-input [formControl]="registerForm.controls.confirmPassword" [isPasswordType]="true"
           description="Confirm password"
           [customErrorMessage]=" this.registerForm.errors?.['passwordsNotMatch'] ? 'Passwords doesn\'t match' : undefined">
</app-input>

<app-action-buttons leftButtonName="Back to login"
                    rightButtonName="Register"
                    buttonRoute="../login"
                    (nextButtonClicked)="register()">
</app-action-buttons>

